@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";


.inter-font {
  font-family: "Inter",;
  font-optical-sizing: auto;
}

.instrument-sans-font {
  font-family: "Instrument Sans",;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

button {
  cursor: pointer;
}
.ol-list {
  list-style: none; 
  counter-reset: list-counter;
}

.ol-list li {
  counter-increment: list-counter;
}

.roman-list li::before {
  content: counter(list-counter, upper-roman) ". ";
}
.num-list li::before {
  content: counter(list-counter) ". ";
}



::selection {
  color : rgb(176, 222, 255);
  background-color: rgb(9, 66, 157);
}
